ul(infinite-scroll='loadMore()', infinite-scroll-distance="0.3", infinite-scroll-disabled="outOfData").channel-grid
  li(ng-repeat="video in videos track by $index").channel-content-item
    .picture(title="{{video.description}}")
      img(ng-src="{{video.image}}")
      span {{video.duration}}
      .content-caption
        a
          h3 {{video.title}}
        .meta
          ul
            li Published at {{video.publishedAt.valueOf() | date:'shortDate' }}
