doctype html
html
  head
    base(href="/")
    title Vaygrims place
    script(src="/jquery/dist/jquery.js")

    // Bootstrap stuff
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap-theme.css")
    script(src="/bootstrap/dist/js/bootstrap.js")

    // Load angularjs stuff
    script(src='/angular/angular.js')
    script(src='/angular-animate/angular-animate.js')
    script(src='/angular-ui-router/release/angular-ui-router.js')
    script(src="/scripts/lib/infinitescroll.min.js")

    link(rel="stylesheet", href="/stylesheets/animate.css")

    // Load my own stuff
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/script.js')
    // Load all the controllers
    script(src="/scripts/controllers/main.js")
    script(src="/scripts/controllers/frontpage.js")
    script(src="/scripts/controllers/channel.js")
    script(src="/scripts/controllers/playlists.js")
    script(src="/scripts/controllers/player.js")

  body(ng-app="youtubewatcher", ng-controller="MainCtrl as main")
    nav.navbar.navbar-default
      .container
        .navbar-header
          button(type='button', data-toggle='collapse', data-target='#navbar-collapse').navbar-toggle.collapsed
            span.sr-only Toggle navigation
            - for(var x = 0; x < 3; x++)
              span.icon-bar
          a(ui-sref="frontpage").navbar-brand Vaygrim

        .collapse.navbar-collapse#navbar-collapse
          ul.nav.navbar-nav
            li(ui-sref-active="active")
              a(ui-sref="frontpage") Frontpage
            - each channel in channels
              li(ui-sref-active="active")
                a(ui-sref="channel({shortname: \"" + channel.shortname + "\"})")= channel.shortname
            li(ui-sref-active="active")
              a(ui-sref="playlists") Playlists
          form(role="search").navbar-form.navbar-right
            .form-group
              input(type="search", placeholder="Search", ng-model="search.title", ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 } }").form-control



    div(ng-click="resetNavigation()")
      block content