body {
  font-family: Roboto, arial, sans-serif;
}
ul.channel-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: row;
}
ul.channel-grid li.channel-content-item {
  margin-right: 1em;
  margin-bottom: 1em;
  width: 185px;
  height: auto;
}
ul.channel-grid li.channel-content-item.ng-enter {
  animation: bounceInLeft 1s;
}
ul.channel-grid li.channel-content-item.ng-enter-stagger {
  animation-delay: 0.07s;
}
ul.channel-grid li.channel-content-item.ng-leave {
  animation: bounceOutRight 1s;
}
ul.channel-grid li.channel-content-item .picture span {
  right: 0.25em;
  top: -1.5em;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  position: relative;
  float: right;
  font-weight: bold;
}
ul.channel-grid li.channel-content-item .content-caption h3 {
  margin-top: 0.1em;
  margin-bottom: 0;
  margin-left: 0.2em;
  font-size: 1em;
  font-weight: bold;
}
ul.channel-grid li.channel-content-item .content-caption .meta {
  font-size: 0.8em;
  margin-left: 0.3em;
}
ul.channel-grid li.channel-content-item img {
  height: auto;
  width: 100%;
}
ul {
  list-style: none;
  padding: 0;
}
.pink {
  background-color: #ffc0cb;
}
ul.channel-list li.channel-content-item {
  display: block;
  padding: 1em;
  height: auto;
  width: 100%;
  border-bottom: 2px solid #808080;
}
ul.channel-list li.channel-content-item.ng-enter {
  animation: flipInX 1s;
}
ul.channel-list li.channel-content-item.ng-enter-stagger {
  animation-delay: 0.07s;
}
ul.channel-list li.channel-content-item.ng-leave {
  animation: flipOutX 1s;
}
ul.channel-list figure {
  float: left;
  margin-right: 2em;
}
ul.channel-list figure img {
  width: auto;
  height: 180px;
}
ul.channel-list figure figcaption {
  text-align: right;
  top: -1.5em;
  right: 0.2em;
  position: relative;
  height: 0;
}
ul.channel-list figure figcaption span {
  font-weight: bold;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
}
ul.channel-list .content-caption h3 {
  margin: 0;
  margin-bottom: 0.2em;
}
ul.channel-list .meta span {
  display: block;
}
.playlist-list .playlist {
  border-bottom: 2px solid #808080;
}
.playlist-list .playlist.ng-enter {
  animation: flipInX 1s;
}
.playlist-list .playlist.ng-enter-stagger {
  animation-delay: 0.07s;
}
.playlist-list .playlist.ng-leave {
  animation: flipOutX 1s;
}
small {
  padding-left: 0.5em;
}
.clickable {
  cursor: pointer;
}
.player {
  position: fixed;
  left: 0;
  right: 0;
  top: 2em;
  margin: auto;
  width: 50%;
  height: 80%;
}
.player iframe {
  width: 100%;
  height: 100%;
  border: none;
}
