body
  font-family Roboto, arial, sans-serif

ul.channel-grid
  display: flex
  flex-wrap wrap
  justify-content space-around
  align-content space-around
  flex-direction row
  li.channel-content-item
    margin-right 1em
    margin-bottom 1em
    width 185px
    height auto
    &.ng-enter
      animation bounceInLeft 1s
      &-stagger
        animation-delay 0.07s
    &.ng-leave
      animation bounceOutRight 1s


    .picture
      span
        right 0.25em
        top -1.5em
        background-color rgba(0,0,0,0.5)
        color white
        position relative
        float right
        font-weight bold

    .content-caption
      h3
        margin-top 0.1em;
        margin-bottom 0
        margin-left: 0.2em
        font-size 1em
        font-weight bold

      .meta
        font-size 0.8em
        margin-left 0.3em

    img
      height: auto
      width: 100%

ul
  list-style none
  padding 0

.pink
  background-color pink

ul.channel-list
  li.channel-content-item
    display: block
    padding 1em
    height auto
    width 100%
    border-bottom 2px solid gray
    &.ng-enter
      animation flipInX 1s
      &-stagger
        animation-delay 0.07s
    &.ng-leave
      animation flipOutX 1s
  figure
    float left
    margin-right 2em
    img
      width auto
      height 180px
    figcaption
      text-align right
      top -1.5em
      right 0.2em
      position relative
      height 0
      span
        font-weight bold
        color white
        background-color rgba(0,0,0,0.5)
  .content-caption
    h3
      margin: 0
      margin-bottom 0.2em
  .meta
    span
      display block

.playlist-list
  .playlist
    border-bottom 2px solid gray
    &.ng-enter
      animation flipInX 1s
      &-stagger
        animation-delay 0.07s
    &.ng-leave
      animation flipOutX 1s

small
  padding-left 0.5em

.clickable
  cursor pointer

.player
  position fixed
  left 0
  right 0
  top 2em
  margin auto
  iframe
    width 100%
    height 100%
    border none

a, button, #animation-toggle
  outline 0
  &:focus, &:active, &:hover
    outline 0


@media screen and (min-width: 768px)
  .player
    width 640px
    height 360px

@media screen and (min-width: 992px)
  .player
    width 832px
    height 468px

@media screen and (min-width: 1200px)
  .player
    width 1150px
    height 647px

@media screen and (max-width: 768px)
  ul.channel-grid
    li.channel-content-item
      margin-right 0
      margin-bottom 0.5em
      width 100%
      font-size 1.2em

  ul.channel-list
    figure
      margin-right 0
      img
        width 100%
        height auto


  .player
    width 100%
    height 50%

@media screen and (max-height: 768px)
  .player
    height 75%